/* screen - custom-size-1 */

.custom-size-1 {
  align-items: flex-start;
  background-image: url(../img/960x450electricaloutlets-1x-png@1x.png);
  display: flex;
  overflow: hidden;
  width: 1400px;
}

.custom-size-1 .overlap-group {
  align-items: flex-start;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 14px;
  height: 800px;
  justify-content: flex-end;
  margin-left: -153px;
  min-width: 1707px;
  padding: 18px 303.3px;
  z-index: 3;
}

.custom-size-1 .group-3 {
  align-items: flex-end;
  background-color: var(--white);
  opacity: .75;
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 58px;
  min-width: 127px;
  padding: 7px 29px;
}
.custom-size-1 .group-3:hover {
background-color:#ffffff;
border-color: #ffffff;
opacity: 1;
}
.custom-size-1 .services {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 16px;
  min-height: 22px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.custom-size-1 .group-1 {
  align-items: flex-end;
  background-color: var(--white);
  opacity:.75;
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  margin-top: 58px;
  min-width: 127px;
  padding: 7px 36px;
}
.custom-size-1 .group-1:hover {
background-color:#ffffff;
border-color: #ffffff;
opacity: 1;
}
.custom-size-1 .flex-col {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 638px;
  min-height: 706px;
  width: 127px;
}

.custom-size-1 .group-2 {
  align-items: flex-end;
  background-color: var(--white);
  opacity:.75;
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 40px;
  justify-content: flex-end;
  min-width: 127px;
  padding: 7px 19px;
}
.custom-size-1 .group-2:hover {
background-color:#ffffff;
border-color: #ffffff;
opacity: 1;
}
.custom-size-1 .icon-instagram {
  height: 28px;
  margin-right: 1.0px;
  object-fit: cover;
  width: 28px;
}

.custom-size-1 .path-3 {
  height: 800px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 1400px;
  z-index: 2;
}

.custom-size-1 .path-1 {
  height: 1px;
  left: 35px;
  object-fit: cover;
  position: fixed;
  top: 1680px;
  width: 1400px;
  z-index: 4;
}
.custom-size-1 .rectangle-1 {
  background-color: var(--black);
  height: 800px;
  left: 153;
  opacity: 0.5;
  position: fixed;
  top: 0;
  width: 1400px;
  z-index: 2;
}
.custom-size-1 .title {
  -webkit-text-stroke: 1px var(--white);
  color: var(--white);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 130px;
  letter-spacing: 0;
  line-height: 47px;
  position: fixed;
  text-align: center;
  top: 64px;
  white-space: nowrap;
  z-index: 3;
}
