/* screen - web-1280-5 */

.web-1280-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 640px;
  overflow: hidden;
  padding: 64px 0;
  width: 360px;
}

.web-1280-1 .flex-col-1 {
  height: 38px;
  margin-left: 0.5px;
  margin-top: 16px;
  position: relative;
  width: 360px;
}

.web-1280-1 .flex-row-flex-col {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.web-1280-1 .line-1 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 360px;
}

.web-1280-1 .services {
  -webkit-text-stroke: 1px var(--black);
  left: 16px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  color: var(--black);
  font-family: var(--font-family-centurygothic-regular);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

.web-1280-1 .group-3 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  padding: 2px 11.0px;
  display: flex;
  height: 20px;
  left: 160px;
  position: absolute;
  top: 10px;
  width: 60px;
  font-size:10px
}
.web-1280-1 .place {
-webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 40px;
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
}

.web-1280-1 .group-1 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  padding: 2px 11.0px;
  display: flex;
  height: 20px;
  left: 225px;
  position: absolute;
  top: 10px;
  width: 60px; 
}

.web-1280-1 .about {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 38px;
  text-align: center;
  white-space: nowrap;
  font-size:10px;
}

.web-1280-1 .group-2 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 20px;
  left: 290px;
  width: 60px;
  padding: 2px;
  position: absolute;
  top: 10px;
}

.web-1280-1 .contact-us {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 56px;
  text-align: center;
  white-space: nowrap;
  font-size: 10px;
}

.web-1280-1 .flex-row-web-1280-1 {
  height: 436px;
  margin-left: 6.0px;
  position: relative;
  width: 342px;
}

.web-1280-1 .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 436px;
  position: absolute;
  top: 0;
  width: 218px;
}

.web-1280-1 .commercial {
   -webkit-text-stroke: 1px var(--black);
    color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 2px;
  min-height: 25px;
  min-width: 122px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .service-work-1 {
  margin-top: 24px;
  color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  left:20px
}

.web-1280-1 .installations-1 {
    color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .new-construction-1 {
  color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .repairs-1 {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 58px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .panel-meter-replacement-1 {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 210px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .remodel-1 {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 72px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .outdoor-lighting {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 132px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .residential {
   -webkit-text-stroke: 1px var(--black);
  color: var(--black);
  font-family: var(--font-family-centurygothic-regular);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 46px;
  min-height: 25px;
  min-width: 106px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-1 .service-work-2 {
  margin-top: 20px;
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.web-1280-1 .i-stock-1041465228 {
  height: 95px;
  left: 199px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 143px;
}

.web-1280-1 .new-construction-home {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  height: 116px;
  left: 213px;
  object-fit: cover;
  position: absolute;
  top: 269px;
  width: 116px;
}

.web-1280-1 .service-work {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  min-height: 22px;
  min-width: 102px;
  text-align: center;
  white-space: nowrap;
}
.web-1280-1 .installations-2 {
    color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 90px;
  text-align: center;
  white-space: nowrap;
}
.web-1280-1 .new-construction-2 {
  color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 140px;
  text-align: center;
  white-space: nowrap;
}
.web-1280-1 .repairs-2 {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 58px;
  text-align: center;
  white-space: nowrap;
}
.web-1280-1 .panel-meter-replacement-2 {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 210px;
  text-align: center;
  white-space: nowrap;
}
.web-1280-1 .remodel-2 {
      color: var(--black);
    font-family: var(--font-family-centurygothic-regular);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 8px;
  margin-top: 1px;
  min-height: 22px;
  min-width: 72px;
  text-align: center;
  white-space: nowrap;
}
