/* screen - web-1280-6 */

.web-1280-2 {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 640px;
  overflow: hidden;
  padding: 64px 0;
  width: 360px;
}

.web-1280-2 .line-4 {
  height: 1px;
  left: 12px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 360px;
}

.web-1280-2 .about-us {
  -webkit-text-stroke: 1px var(--black);
  left: 16px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
  font-size: 30px;
}

.web-1280-2 .group-3 {
 background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 20px;
  margin-left: -223px;
  min-width: min-content;
  padding: 2px;
  position: absolute;
  top: 10px;
}

.web-1280-2 .place {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: min-content;
  min-width: min-content;
  text-align: center;
  white-space: nowrap;
}

.web-1280-2 .group-1 {
background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 20px;
  margin-left: -164px;
  min-width: min-content;
  padding: 2px;
  position: absolute;
  top: 10px;
}

.web-1280-2 .services {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-width: min-content;
  text-align: center;
  white-space: nowrap;
}

.web-1280-2 .group-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  height: 20px;
  margin-left: -91px;
  min-width: min-content;
  padding: 2px;
  position: absolute;
  top: 10px;
}

.web-1280-2 .contact-us {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: min-content;
  min-width: min-content;
  text-align: center;
  white-space: nowrap;
}

.web-1280-2 .qs-quality-electric {
  -webkit-text-stroke: 1px var(--black);
  height: 144px;
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 4px;
  text-align: center;
  width: 350px;
}
