/* screen - web-1280-7 */

.web-1280-7 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
  width: 360px;
}

.web-1280-7 .group-container {
  align-items: flex-start;
  background-image: url(../img/960x450electricaloutlets-1x-png-1x-png@1x.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  gap: 3px;
  height: 640px;
  margin-left: -142px;
  min-width: 695px;
  padding: 74px 229px;
  z-index: 1;
}

.web-1280-7 .group {
  display: flex;
  height: 20px;
  width: 60px;
}

.web-1280-7 .group-3 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 60px;
  padding: 2px 6.0px;
}

.web-1280-7 .services {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 44px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-7 .group-2 {
  align-items: flex-end;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--black);
  border-radius: 20px;
  display: flex;
  height: 20px;
  min-width: 60px;
  padding: 2px 14px;
}

.web-1280-7 .about {
  -webkit-text-stroke: 1px var(--black);
  letter-spacing: 0;
  line-height: 10px;
  min-height: 14px;
  min-width: 32px;
  text-align: center;
  white-space: nowrap;
}

.web-1280-7 .group-1 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  min-width: 61px;
}

.web-1280-7 .overlap-group {
  height: 20px;
  position: relative;
  width: 61px;
}

.web-1280-7 .rectangle-2 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--dove-gray);
  border-radius: 20px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.web-1280-7 .contact-us {
  -webkit-text-stroke: 1px var(--black);
  left: 3px;
  letter-spacing: 0;
  line-height: 10px;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
}

.web-1280-7 .qs-quality-electric-llc {
  -webkit-text-stroke: 1px var(--white);
  color: var(--white);
  font-family: var(--font-family-centurygothic-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: 30px;
  position: fixed;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  z-index: 2;
}
